#################
## Altium
#################
 
# backup and output directories
History/
Project Logs for */
logs/

 
# web reports
*.PcbDoc.htm
*.SchDoc.htm
*.PcbLib.htm
*.SchLib.htm
 
# temporary files
*.~SchDoc
*.~PcbDoc
*.~SchLib
*.~PcbLib
*.PrjPcbStructure
 
# export log
*.Rep
 
# library editor reports
*.REP
*.CMP
*.ERR
 
# viewport settings
*.PcbDocPreview
*.SchDocPreview
 
#################
## Code Composer
#################
 
Debug/
.xdchelp
.config/
.launches/
.metadata/
RemoteSystemsTempFiles/

 
############
## Windows
############
 
# Windows image file caches
Thumbs.db
 